@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}
.font1 {
    font-family: 'Commissioner', sans-serif;
}



/* text */

.font-g {
    background: linear-gradient(90deg,  #2171B7 0%, #0A1A5D 34.14%, #2073B7 68.28%, #0A1A5D 102.41%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.font-a {
    background: linear-gradient(90.09deg, #2174B8 0.18%, #0A1A5D 34.3%, #2171B7 68.42%, #0A1A5D 102.54%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}




/* menu */

.menu {
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
}





/* banner */

.banner {
    transform: scaleX(-1);
}
.box1 {
    box-shadow: 0px 21px 16px rgba(0, 0, 0, 0.07);
}





/* cards */

.card {
    background: linear-gradient(180deg, #F5F5F5 0%, rgba(245, 245, 245, 0) 100%);
    
    border-radius: 26px;
    width: 350px;
height: 426px;
}
.more {
    background: rgba(10, 26, 93, 0.95);
}
.line {
    width: 110px;
    height: 7px;
    background: linear-gradient(to right, #0a1b5d00,#0A1A5D,#0a1b5d00);
}


/* таны эзэмших чадвар */
.bg-g {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 26, 93, 0.19) 25%, #2171B7 50%, rgba(10, 26, 93, 0.19) 75%, rgba(255, 255, 255, 0) 100%);
border-radius: 7px;
}